* {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header, .body {
    width: 70%;
    margin: auto;
}

.header {
    text-align: center;
}

img {
    width: 500px;
    height: auto;
    border-radius: 15px;
    margin: auto;
}

.body {
    text-align: left;
}

.steps, li {
    text-align: justify;
}

a {
    color: black;
    margin-top: 5em;
    margin-bottom: 10em;
}